{% include 'customer_head.html' %}

<html>
<head>
    <style>
        body {
            background-image: url('https://img.freepik.com/free-vector/realistic-car-headlights-ad-composition-headlights-with-green-purple-illumination_1284-56577.jpg?size=626&ext=jpg&ga=GA1.1.1141335507.1718323200&semt=ais_user');
            background-size: cover;
            background-position: cover;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body class="customer_home">
    <div class="text text-center mt-50" style="color: white;">Welcome {{customer[1]}} {{customer[2]}}</div>
</body>
</html>