{% include 'admin_head.html' %}
<div class="form-title text-center card-header">Edit Vehicle Details</div>
<div class="card p-10 m-100">
    <form action="edit_vehicles_action">
        <input type="hidden" name="car_id" value="{{car['_id']}}">
        <div class="row space-around">
            <div class="w-45">
                <div class="image w-100">
                    <img src="../static/logo/{{car['car_image']}}" class="img" alt="">
                </div>
            </div>
            <div class="w-45 row">
                <div class="form-input w-50 p-5 mt-10">
                    <label for="car_name">Car Name:</label>
                    <input type="text" id="car_name" name="car_name"  value="{{car['car_name']}}" class="input w-100 p-15" placeholder="Enter Car Name" required>
                </div>
                <div class="form-input w-50 p-5 mt-10">
                    <label for="car_model">Car Model:</label>
                    <input type="text" id="car_model" name="car_model" value="{{car['car_model']}}" class="input w-100 p-15" placeholder="Enter Vehicle Model" required>
                </div>
                <div class="form-input w-50 p-5 mt-10">
                    <label for="miles_travelled">Miles Travelled:</label>
                    <input type="text" id="miles_travelled" name="miles_travelled" value="{{car['miles_travelled']}}" class="input w-100 p-15" placeholder="Enter Miles Travelled" required>
                </div>
                <div class="form-input w-50 p-5 mt-10">
                    <label for="price">Price:</label>
                    <input type="number" id="price" name="price" value="{{car['price']}}" class="input w-100 p-15" placeholder="Enter Price" required>
                </div>
                <div class="form-input w-50 p-5 mt-10">
                    <label for="vin_number">VIN Number:</label>
                    <input type="text" id="vin_number" name="vin_number" value="{{car['vin_number']}}" class="input w-100 p-15" placeholder="VIN number" required>
                </div>
                <div class="form-input w-50 p-5 mt-10">
                    <label for="license_plate">License Plate:</label>
                    <input type="text" id="license_plate" name="license_plate" value="{{car['license_plate']}}" class="input w-100 p-15" placeholder="License Plate" required>
                </div>
                <div class="form-input w-50 p-5 mt-10">
                    <label for="milage">MPG:</label>
                    <input type="text" id="milage" name="milage" value="{{car['milage']}}"  class="input w-100 p-15" placeholder="Milage" required>
                </div>
                <div class="form-input w-50 p-5 mt-10">
                    <label for="tax_amount">Tax Amount:</label>
                    <input type="number" id="tax_amount" name="tax_amount" value="{{car['tax_amount']}}" class="input w-100 p-15" placeholder="Insurance Amount" required>
                </div>
            </div>
            <div class="text-center"><input type="submit" class="btn p-5" value="Edit Car"></div>
        </div>
    </form>
</div>