{% include 'owner_head.html' %}
<body class="owner_home">
</body>
<html>
<head>
    <style>
        body {
            background-image: url('https://thumbs.dreamstime.com/b/auto-business-car-sale-transportation-people-ownership-concept-close-up-salesman-giving-key-to-new-owner-customer-over-127208216.jpg');
            background-size: cover;
            background-position: cover;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body class="owner_home">
        <div class="text text-center mt-50">Welcome {{owner[1]}} {{owner[2]}}</div>
</body>
</html>