<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/utilities.css">
    <link rel="stylesheet" href="/static/css/units.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/form.css">
</head>
<body>
    <div class="navbar">
        <div class="nav space-between">
            <div><img src="/static/logo/carlogo.png" class="logo w-35 middle" alt=""></div>
            <ul>
                <li><a href="/owner_home">Home</a></li>
                <li><a href="/add_car">Add Car</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </div>
</body>
</html>